!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/siteicon.png')
    script(src="/javascripts/jquery-1.8.1.min.js")
    script(src="/javascripts/socket.io.js")
    script.
        $(document).ready(function(){
            $("form#form").submit(function(e){
                e.preventDefault();
                $.post('/posta', 
                    {from:$("#from").val(), newtext:$("#newtext").val()},
                    function(data){ }
                );
                $('#newtext').val('');
                if ($('#from').val() !== 'guest'){
                    $('#lblUsr').text($('#from').val()+':');
                    $('#from').hide();
                }
            });
                        
            var socket = io.connect(window.location.origin);
            socket.on('kibView', function (data) {
                console.log('new kibView received');
                $("#kibitzs").html(data);
            });
        });
  body
  
include kibitzs    

div.content
    div.row
        div.span12
            form(id='form')
                if username == 'guest'
                    label#lblUsr From:
                    input(id='from',type='text',name='from', value='#{username}')
                else
                    label #{username}:
                input(id='newtext',type='text',name='newtext')
                input(type='submit',id='postButton',value='Kibitz')