div.conent
    div.row
        div.span12
            label New kibitz:
            form(action='/posts',method='post')
                label From:
                input(id='from',type='text',name='form')
                label kibitz:
                
                
I like eggs
